<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="org.pathwayeditor.application.metabolicContextAdapter"
         name="Metabolic context plugin"
         point="org.pathwayeditor.application.contextAdapters">
      <context
            class="uk.ac.ed.inf.metaboliccontext.plugin.MetabolicContextServiceProviderLoader">
      </context>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="uk.ac.ed.inf.csb.Metabolic.main"
            class="uk.ac.ed.inf.metaboliccontext.plugin.MetabolicValidationRulePreferences"
            id="uk.ac.ed.inf.csb.Metabolic.main.validationRuleConfiguration"
            name="Validation Rule Config">
      </page>
      <page
            class="uk.ac.ed.inf.Metabolic.ui.MainPreference"
            id="uk.ac.ed.inf.csb.Metabolic.main"
            name="Metabolic Context Adapter">
      </page>
   </extension>

</plugin>
